/**
 * ----------------------------------------------------------------------------------------
 * Site settings.
 * ----------------------------------------------------------------------------------------
 */

/* Typography */


/* Colors */
$color-bg: #f1f5fb;  /* Color of site background */
$color-text: #242d34; /* Color of most texts */
$color-text-light-1: #7b828c; /* Color of lighter texts */
$color-text-light-2: #969b9e; /* Color of lightest texts */
$color-link: #4287de; /* Color of links */
$color-item-select: rgba(93, 156, 236, 0.12); /*Color of selected items */
$color-input-border: #cfd5da; /* Color of input borders */
$color-line: #e5effc;
$color-mint: #69f0ae;
$color-purple: #7e57c2;
$color-blue-light-1: #fcb628;

$color-logo: #4287df;
$color-btn-primary: #5d9cec;
$color-btn-secondary: #ff3d6f;


/* Positioning */
