/**
 * ----------------------------------------------------------------------------------------
 * Layout styles.
 * ----------------------------------------------------------------------------------------
 */
.container-main {
	margin: 8px auto;
	width: 988px;
	position: relative;
}
 .aside-main {
	position: fixed;
	top: 8px;
	width: 252px;

 }
 main.main {
 	width: 720px;
 	margin-left: 268px;
 }
section:not(:first-of-type) {
 	margin-top: 30px;
}
.section{
 	&__columns {
		display: flex;
	    flex-wrap: wrap;
		margin: 0 -16px;
	}
	&__column {
		flex:0 0 50%;
	    box-sizing: border-box;
		padding: 0 16px;
		max-width: 50%;
	}
}